*.Makefile
*.mk
*.ncb
*.ninja
*.props
*.pyc
*.rules
*.scons
*.sdf
*.sln
*.suo
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*~
.*.sw?
.DS_Store
.cproject
.gdb_history
.gdbinit
.metadata
.project
tags
Thumbs.db
v8.log
/Makefile
/_out
/breakpad/src/
/build/Debug
/build/Purify
/build/Release
/build/util/support
# The Chrome OS build creates a /c symlink due to http://crbug.com/54866.
/c
/ceee/internal/
/chrome/Debug
/chrome/Hammer
/chrome/Release
/chrome/app/theme/google_chrome
/chrome/browser/autofill/internal
/chrome/browser/extensions/default_extensions/chromeos
/chrome/browser/protector/internal
/chrome/browser/resources/software_rendering_list
/chrome/browser/spellchecker/internal
/chrome/installer/linux
/chrome/installer/mac/internal
/chrome/installer/mac/third_party/xz/xz
/chrome/test/chromeos/autotest/files/client/deps/chrome_test/test_src/
/chrome/test/chromeos/autotest/files/client/deps/pyauto_dep/test_src/
/chrome/test/data/extensions/api_test/permissions/nacl_enabled/bin
/chrome/test/data/firefox2_profile/searchplugins
/chrome/test/data/firefox2_searchplugins
/chrome/test/data/firefox3_profile/searchplugins
/chrome/test/data/firefox3_searchplugins
/chrome/test/data/layout_tests
/chrome/test/data/osdd
/chrome/test/data/perf/frame_rate/content
/chrome/test/data/perf/frame_rate/private
/chrome/test/data/perf/private/
/chrome/test/data/plugin
/chrome/test/data/pyauto_private
/chrome/tools/memory
/chrome/tools/test/reference_build
/chrome_frame/tools/test/reference_build
/data
/googleurl
/gpu/gles2_conform_test
/gyp-mac-tool
/native_client
/net/Debug
/net/Release
/net/testserver.log
/out
/out_*
/remoting/appengine/
/remoting/tools/internal/
/rlz
/sdch/open-vcdiff
/seccompsandbox
/testing/gmock
/testing/gtest
/testserver.log
/third_party/GTM
/third_party/WebKit
/third_party/adobe/flash/binaries
/third_party/angle
/third_party/asan
/third_party/bidichecker
/third_party/cacheinvalidation/files
/third_party/chromeos_login_manager
/third_party/chromeos_text_input
/third_party/cros
/third_party/cros_system_api
/third_party/cygwin
/third_party/directxsdk
/third_party/drmemory
/third_party/flac
/third_party/adobe/flash/symbols
/third_party/ffmpeg
/third_party/gles2_conform
/third_party/googlemac
/third_party/hunspell
/third_party/hunspell_dictionaries
/third_party/icu
/third_party/jsoncpp/source
/third_party/leveldatabase/src
/third_party/leveldb
/third_party/libjingle/source
/third_party/libjpeg_turbo
/third_party/libphonenumber/src
/third_party/libsrtp
/third_party/libvpx
/third_party/libyuv
/third_party/lighttpd
/third_party/lss
/third_party/llvm
/third_party/llvm-build
/third_party/mingw-w64
/third_party/mkl
/third_party/mozc
/third_party/nss
/third_party/openssl
/third_party/ots
/third_party/pdfsqueeze
/third_party/pefile
/third_party/platformsdk_win2008_6_1
/third_party/platformsdk_win7
/third_party/ppapi
/third_party/psyco_win32
/third_party/pthreads-win32
/third_party/pylib
/third_party/pyftpdlib/src
/third_party/pymox/src
/third_party/python_24
/third_party/python_26
/third_party/pywebsocket
/third_party/safe_browsing/testing
/third_party/scons-2.0.1
/third_party/sfntly
/third_party/skia
/third_party/smhasher
/third_party/snappy/src
/third_party/speex
/third_party/swig
/third_party/syzygy/binaries
/third_party/v8-i18n
/third_party/valgrind
/third_party/webdriver/pylib
/third_party/webdriver/python/selenium
/third_party/webgl_conformance
/third_party/webrtc
/third_party/xdg-utils
/third_party/xulrunner-sdk
/third_party/yasm/binaries
/third_party/yasm/source/patched-yasm
/tools/distcc
/tools/grit
/tools/gyp
/tools/histograms
/tools/page_cycler/acid3
/tools/tryserver
/v8
/webkit/Debug
/webkit/Release
/webkit/data/bmp_decoder
/webkit/data/ico_decoder
/webkit/data/layout_tests/LayoutTests
/webkit/data/test_shell/plugins
/webkit/data/xbm_decoder
/x86-generic_out/
/xcodebuild
/Session.vim
/UpdateDevTools
/build/all.opensdf
/build/ipch
/build/x64
/chrome/app/policy/cloud_policy_backend_header_compile.xml
/chrome/browser/sync/protocol/sync_proto.xml
*.swp
*.swo
/chrome/in_memory_url_index_cache_proto.xml
/chrome/installer/mini_installer.xml
/chrome/installer_util_strings.xml
/chrome/safe_browsing_csd_proto.xml
/chrome/safe_browsing_proto.xml
/chrome/safe_browsing_report_proto.xml
/chrome/setup.xml
/chrome/userfeedback_proto.xml
/chrome_frame/chrome_frame_ie.xml
/remoting/proto/chromotocol_proto.xml
/remoting/proto/trace_proto.xml
/third_party/cacheinvalidation/cacheinvalidation_proto.xml
/third_party/libphonenumber/phonenumber_proto.xml

.clang_complete
bitpop_specific/extensions/facebook_controller.pem
bitpop_specific/extensions/facebook_friends.pem
bitpop_specific/extensions/facebook_messages.pem
bitpop_specific/extensions/facebook_notifications.pem
.swn
bitpop_specific/extensions/dropdown.pem
bitpop_specific/extensions/dropdown_most_visited.pem
bitpop_specific/extensions/dropdown_most_visited.pem
bitpop_specific/extensions/uncensor_proxy.pem
bitpop_specific/extensions/uncensor_domains.pem
bitpop_specific/extensions/share_button.pem
bitpop_specific/extensions/upload
build/common.gypi.orig
chrome/VERSION.orig
chrome/app/chromium_strings.grd.orig
chrome/app/client_util.cc.orig
chrome/app/generated_resources.grd.orig
chrome/app/nibs/MainMenu.xib.orig
chrome/app/theme/chromium/BRANDING.orig
chrome/app/theme/chromium/about_background.png.orig
chrome/app/theme/chromium/about_background_rtl.png.orig
chrome/app/theme/chromium/product_logo.png.orig
chrome/app/theme/chromium/product_logo_128.png.orig
chrome/app/theme/chromium/product_logo_16.png.orig
chrome/app/theme/chromium/product_logo_22.png.orig
chrome/app/theme/chromium/product_logo_22_mono.png.orig
chrome/app/theme/chromium/product_logo_22_mono_invert.png.orig
chrome/app/theme/chromium/product_logo_24.png.orig
chrome/app/theme/chromium/product_logo_256.png.orig
chrome/app/theme/chromium/product_logo_32.png.orig
chrome/app/theme/chromium/product_logo_48.png.orig
chrome/app/theme/chromium/product_logo_64.png.orig
chrome/app/theme/chromium/product_logo_white.png.orig
chrome/app/theme/chromium/wizard_icon.png.orig
chrome/app/theme/chromium/wizard_icon_rtl.png.orig
chrome/browser/extensions/extension_context_menu_model.cc.orig
chrome/browser/extensions/extension_function_dispatcher.cc.orig
chrome/browser/extensions/extension_preference_api.cc.orig
chrome/browser/extensions/extension_service.cc.orig
chrome/browser/google/google_update.cc.orig
chrome/browser/platform_util.h.orig
chrome/browser/platform_util_mac.mm.orig
chrome/browser/platform_util_win.cc.orig
chrome/browser/profiles/profile.cc.orig
chrome/browser/profiles/profile.h.orig
chrome/browser/profiles/profile_impl.cc.orig
chrome/browser/profiles/profile_impl.h.orig
chrome/browser/profiles/profile_manager.cc.orig
chrome/browser/profiles/profile_manager.h.orig
chrome/browser/resources/options/advanced_options.html.orig
chrome/browser/resources/options/browser_options.html.orig
chrome/browser/resources/options/browser_options.js.orig
chrome/browser/resources/options/options.html.orig
chrome/browser/resources/options/options_bundle.js.orig
chrome/browser/ui/browser.cc.orig
chrome/browser/ui/browser.h.orig
chrome/browser/ui/browser_window.h.orig
chrome/browser/ui/cocoa/browser_window_cocoa.h.orig
chrome/browser/ui/cocoa/browser_window_cocoa.mm.orig
chrome/browser/ui/cocoa/browser_window_controller.mm.orig
chrome/browser/ui/cocoa/browser_window_controller_private.mm.orig
chrome/browser/ui/cocoa/dock_icon.mm.orig
chrome/browser/ui/cocoa/extensions/browser_action_button.mm.orig
chrome/browser/ui/cocoa/extensions/browser_actions_controller.mm.orig
chrome/browser/ui/cocoa/extensions/extension_action_context_menu.mm.orig
chrome/browser/ui/panels/panel.cc.orig
chrome/browser/ui/panels/panel.h.orig
chrome/browser/ui/panels/panel_browser_window_cocoa.h.orig
chrome/browser/ui/panels/panel_browser_window_cocoa.mm.orig
chrome/browser/ui/view_ids.h.orig
chrome/browser/ui/views/about_chrome_view.cc.orig
chrome/browser/ui/views/browser_actions_container.cc.orig
chrome/browser/ui/views/frame/browser_view.cc.orig
chrome/browser/ui/views/frame/browser_view.h.orig
chrome/browser/ui/views/frame/browser_view_layout.cc.orig
chrome/browser/ui/webui/options/advanced_options_handler.cc.orig
chrome/browser/ui/webui/options/browser_options_handler.cc.orig
chrome/browser/ui/webui/options/options_ui.cc.orig
chrome/chrome_browser.gypi.orig
chrome/chrome_exe.gypi.orig
chrome/chrome_installer_util.gypi.orig
chrome/common/chrome_constants.cc.orig
chrome/common/chrome_constants.h.orig
chrome/common/extensions/extension.cc.orig
chrome/common/pref_names.cc.orig
chrome/common/pref_names.h.orig
chrome/common/url_constants.h.orig
chrome/installer/gcapi/gcapi.cc.orig
chrome/installer/mac/sign_versioned_dir.sh.in.orig
chrome/installer/util/shell_util.cc.orig
chrome/tools/build/generate_policy_source.py.orig
chrome/tools/build/mac/tweak_info_plist.orig
chrome_frame/renderer_glue.cc.orig
chrome/browser/sync/engine/cscope.out
bitpop_specific/extensions/share_button/images/_share-icon-16x16.gif